.content {
    margin: 16px 0;
}
.content_heading {
    padding: 12px 0;
    color: #8C4E2A;
}
.content_discription {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content_discription p {
    font-size: 20px;
    text-align: justify;
}