.content {
    margin: 12px 0;
}
.content_heading {
    padding: 24px 0;
    color: #8C4E2A;
}
.content_discription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 12px;
}
.content_discription img {
    padding: 10px 100px;
}
.content_discription p {
    font-size: 20px;
}