.content {
    margin: 32px 0;
}
.content_heading {
    padding: 12px 0;
    color: #8C4E2A;
}
.card-body {
    background-color: #cc5505;
}
.card-title {
    margin: 4px 0 0;
    color: white;
    /* Tạo dấu 'ba chấm' cho phần thừa */
    line-height: 26px;
    height: 52px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.card-text {
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
    font-size: 20px;
}
.card-text_calender{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
}
.card-text_viewer{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
}
.card-text_viewer__icon {
    margin-right: 4px;
}
.card img {
    height: 280px;
    transition: 1s ease-in-out;
}
.card img:hover {
    transform: scale(0.9);
    border-radius: 10px;
}
